
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');
p {
    font-size: 1.25rem;
    font-weight: 300;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 200;
}

h4 {
    font-weight: 100;
}

body{
    transition: 500ms ease-in-out;
    margin: auto;
    font-family: "Poppins";
}
.container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    z-index: 0;
}

.big-section {
    padding: 5px;
    margin: 3rem 3rem;
}

.subsection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 1rem;
    justify-content: space-between;
}

.small-section {
    flex: 1 1 0;
    padding: 15px;
}

.blink {
    animation: blinking 3000ms;
    animation-fill-mode: forwards;
    animation-timing-function:ease-in;
    animation-iteration-count: infinite;
}

@keyframes blinking {
    
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        transform: translateY(50px);
    }
    
}

#home {
    position: relative;
    float: left;
    width: 40px; height: 40px; 
    padding: 5px;
    margin: 5px;
    border: 1px solid rgba(128,128,128, 0.5);
    border-radius: 100px;
    animation: rotation 3s linear 0s infinite normal forwards;
    transition: all 0.3s ease-out; 
}

@keyframes rotation {
    100% {
        transform: rotate(360deg);
    }
    
}
.down:hover, #home:hover, .drpbtn:hover, .links img:hover, .project img:hover {
    filter: invert(41%) sepia(94%) saturate(1636%) hue-rotate(129deg) brightness(92%) contrast(97%);
}


.links img:hover, .project a:hover {
    transition: all 300ms ease-in-out;
    transform: scale(1.1);
}

.nav-bar {
    width: 100%;
    position: fixed;
    top: 0px;
    text-align: right;
    backdrop-filter: blur(7px);
    z-index: 1;
}   
.nav-bar h1 {
    font-weight: 400;
    display: inline-block;
    margin: 10px;
    font-size: 1.5rem;
    color: #000;
    transition: all 0.3s ease-out;
}


/* Note : Title to change color in horizontal direction */
.nav-bar h1:hover{
    color: #04AA6D;
}


.links {
    margin: auto;
}

.links img{
    display: flex;
    margin: 15px; 
    padding: 0px;
    width: 40px;
    height: 40px;
    transition: all 200ms ease-in-out;
}

.landing, .footer {
    display: flex;
    justify-content: center;    
    margin: 10% 0%;
    width: auto;    
}

.landing-text, .footer-text {
    width: auto;
    font-size: 40px;
    margin: 0px;
    text-align: center;
}

.footer-text h1, .landing-text h1 {
    font-weight: 600; 
    font-family: monospace; 
}

.headings {
    font-size: 3rem;
    text-shadow: -15px 15px rgba(128,128,128, 0.2);
    font-weight: 600;
    margin-bottom: 10px;
    transition: all 300ms ease-in-out;
}

.big-section:hover .headings{
    text-shadow: -15px 15px rgba(4, 170, 109, 0.2);
}

.icon-box {
    display:inline-flex;
    height: 50px;
    width: 150px;
    border: 1px groove gray;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    transition: all 500ms ease-in-out;
}


.icon-box p {
    font-weight: 300;
    margin: 4px;
}

ul {
    list-style-type: none;
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icon-pic {
    width: auto;
    height: auto;
}

button{
    font-size: 1.5rem;
    background: transparent;
    border: 2px solid #04AA6D;
    border-radius: 5px;
    width: auto;
    text-align: center;
    transition: all 500ms ease-in-out;
}

button:hover{
    box-shadow: -5px 5px rgba(128,128,128, 0.3);
    background: #04AA6D;
    position: relative;
    left: 3px;
    bottom: 3px;
}

.icon-box:hover {
    position: relative;
    left: 3px;
    bottom: 3px;
    box-shadow:     -5px 5px #04AA6D;
}

button:active {
    transform: translate3d(-2px, 2px, 2px);
    box-shadow: none
}

.project {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    width: auto;
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    transition: all 750ms ease-in-out;
}

.project:hover {
    border: 1px solid rgba(4, 200, 109, 1);
}
.tech li {
    background-color: rgba(150,150,150,0.5);
    padding: 5px 10px;
    margin: 5px;
    border: 1px groove rgba(150,150,150,0.5);
    border-radius: 20px;
    transition: all 500ms ease-in-out;
}

.tech li:hover {
    background-color: rgba(160, 160, 160, 0.2);
}

.night {
    margin: auto;
    position: fixed;
    padding: 5px;
    top: 90%;
    left: 95%;
    border-radius: 50px;
    background-color: rgba(0, 0, 255, 0.5);
    transition: all 500ms ease-in-out;
}

.night:hover {
    background-color: rgba(0, 0, 255, 1);
}